:root {
    --spacing-medium:15px;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(235, 235, 235);
}

*{
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 300px 1fr 400px;
    grid-template-areas: 
                    "header header header"
                    "aside-l main aside-r"
                    "footer footer footer";
}

header {
    grid-area: header;
    height: 100px;
}

.logo{
 display: block;
 padding: 0px;
 margin-top: 10px; 
 width: 300px;
 height: 90px;
 position: absolute;
 text-align: center;
 background-color: white;
 border-radius: 8px;
}
h1 {
font-size: 25px;
   }

.input-search{
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.aside-left {
    grid-area: aside-l;
    background-color: #fff;
    border-radius: 8px;
}
.aside-right {
    grid-area: aside-r;
    background-color: #fff;
    border-radius: 8px;
}

main {
    grid-area: main;
    
}

footer {
    grid-area: footer;
    height: 50px;
}


.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 200px));
    grid-gap: 10px;
    width:90%;
    max-width: 1200px;
    margin: auto;
}

.product-element{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: white;
    border-radius: 8px;

}

.product-element__title{
    margin-bottom: auto;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.product-element__thumbnail{
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.product-element__description, .product-element__rating{
    margin-top: var(--spacing-medium);

}

.product-element__price{
    margin-top: var(--spacing-medium);
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

.product-element__btn{
    margin-top: var(--spacing-medium);
    height: 40px;
    background-color: rgb(44, 55, 215);
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 10px;

}

.product-element__btn:hover, .search-btn:hover {
    background-color: rgb(9, 23, 212);
}


.div-checkbox{
    font-size: 18px;
    margin-top: var(--spacing-medium);

}


.div-input-search{
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

.search-btn, .basket-reset{
height: 33px;
width: 150px;
margin-left: 10px;
background-color: rgb(44, 55, 215);
font-weight: bold;
font-size: 18px;
color: white;
border-radius: 10px;
}

.basket-reset{
    margin-top: 15px;
}

.basket, .product-options{
    width: 380px;
    padding: 10px;
    justify-content: center;
}

.basket_content__head{
    display: grid;
    grid-template-columns: 200px 50px 50px 50px;
    grid-gap: 2px;
    font-weight: bold;
}

.basket_content__product{
    display: grid;
    grid-template-columns: 200px 50px 50px 50px;
    grid-gap: 2px;
}

.basket_img{
    width: 50px;
    position: absolute;
}

.div_basket__img{
    display: block;
    height: 80px;
    border-bottom: 3px solid rgb (129, 129, 234);
}

.basket_total{
    display: block;
    position: relative;
    margin: 0px 0px 0px 60px;
    padding-top: 12px;
    font-size: 30px;
}

.basket_poduct_name, .basket_poduct_price, .basket_poduct_quantity, .basket_poduct_summary {
    margin-top: 8px;
}